{
  "semi": false,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "importOrderSeparation": true,
  "importOrder": [
    "entity",
    "store",
    "api",
    "pages",
    "modules",
    "components",
    "ui",
    "^./",
    "^../",
    "<THIRD_PARTY_MODULES>"
  ]
}
