{
  "semi": false,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "importOrderSeparation": true,
  "importOrder": [
    "^types/*",
    "^modules/*",
    "^Entity/*",
    "^components/*",
    "^ui/*",
    "^utils/*",
    "^pages/*",
    "^[./]",
    "^[../]",
    "<THIRD_PARTY_MODULES>"
  ]
}
